@*

*@<!DOCTYPE html>
<html>@*


  *@<head>@*

    *@<meta charset="utf-8" />@*

    *@<title>@{if (String.IsNullOrWhiteSpace(@ViewBag.Title))
               {<text>Roomie</text>}
               else if (ViewBag.Title.Contains("Roomie"))
               {<text>@ViewBag.Title</text>}
               else
               {<text>@ViewBag.Title - Roomie</text>}}@*
      *@</title>@*

    *@<link rel="icon" href="@Url.Content("~/Content/images/icon (64x64).png")" />@*
    *@<link rel="apple-touch-icon" href="@Url.Content("~/Content/images/icon (144x144).png")" />@*
    *@<meta name="viewport" content="width=device-width, initial-scale=1.0"/>@*

    *@@Html.RenderStyles()@*

  *@</head>@*


  *@<body>@*
      
    *@<noscript id="noJsMessage">Dude, take off your tin foil hat and enable JavaScript.</noscript>@*

    *@<div id="page" style="display: none;">@*


      *@<div id="headerRow" class="horizontalCrossSection">@*
        *@<div id="header" class="mainColumn">@*
          *@<div id="navigationMenuToggle" class="menuButton">@*
            *@<div class="bar"></div>@*
            *@<div class="bar"></div>@*
            *@<div class="bar"></div>@*
          *@</div>@*
          *@<div id="pageMenuToggle" class="menuButton">@*
            *@<div class="bar"></div>@*
            *@<div class="bar indent"></div>@*
            *@<div class="bar indent"></div>@*
          *@</div>@*
          *@<h1 id="title">@{if (@ViewBag.Title != null)
                             {<text>@ViewBag.Title</text>}
                             else
                           {<text>Roomie</text>}}</h1>@*
        *@</div>@*
      *@</div>@* <-- close horizontalCrossSection for #header

      *@<div id="contentRow" class="horizontalCrossSection">@*
        
        *@<div class="mainColumn">@*
          *@@Html.Partial("Partials/Layout/Navigation")@*
            
          *@<div id="pageMenu" class="sideMenu">@*
            *@@RenderSection("PageMenu", false)@*
          *@</div>@*

          *@<div id="content">@*
            *@@RenderBody()@*
          *@</div>@*
            
        *@</div>@*  
      *@</div>@* <-- close horizontalCrossSection for #content


      *@<div id="footerRow" class="horizontalCrossSection">@*
        *@<div id="footer" class="mainColumn">@*
          *@<a href="http://davidmcgrath.com/roomie">Roomie</a> is an <a href="/source">open source</a> project by <a href="http://davidmcgrath.com">David McGrath</a>.@*
        *@</div>@*
      *@</div>@* <-- close horizontalCrossSection for #footer

    *@</div>@* <-- close #page

    //TODO: javascript to resize buttons
    *@@Html.RenderScripts()@*

    *@<div id="pageSpecificScripts">@*
      *@@RenderSection("PageSpecificScripts", false)@*
    *@</div>@*    
      
    *@@Html.Partial("Partials/Layout/PrecacheScript")@*

  *@</body>@*


*@</html>