@*

*@@helper Css(string path, bool inline = false)
{
    if (inline)
    {<style type="text/css">@Html.InlineCss("~/content/styles/" + path)</style>}
    else
    {<link href="@Url.Content("~/content/styles/" + path)" rel="stylesheet" type="text/css" />}
}@*

*@@helper Js(string path, bool inline = false)
{
    if (inline)
    {<script type="text/javascript">@Html.InlineCss("~/content/scripts/" + path)</script>}
    else
    {<script type="text/javascript" src="@Url.Content("~/content/scripts/" + path)"></script>}
}@*


*@<!DOCTYPE html>
<html>@*


  *@<head>@*

    *@<meta charset="utf-8" />@*

    *@<title>@{if (String.IsNullOrWhiteSpace(@ViewBag.Title))
               {<text>Roomie</text>}
               else if (ViewBag.Title.Contains("Roomie"))
               {<text>@ViewBag.Title</text>}
               else
               {<text>@ViewBag.Title - Roomie</text>}}@*
      *@</title>@*

    *@<link rel="icon" href="@Url.Content("~/Content/images/icon (64x64).png")" />@*
    *@<link rel="apple-touch-icon" href="@Url.Content("~/Content/images/icon (144x144).png")" />@*
    *@<meta name="viewport" content="width=device-width, initial-scale=1.0"/>@*

    //TODO: one CSS file
    *@@Css("structure/site.css")@*
    *@@Css("structure/navigation.css")@*
    *@@Css("structure/content.css")@*
    *@@Css("structure/widget.css")@*
    *@@Css("structure/botMessage.css")@*

    *@@Css("color/site.css")@*
    *@@Css("color/navigation.css")@*
    *@@Css("color/widget.css")@*
    *@@Css("color/content.css")@*

    //TODO: javascript to resize buttons
    *@@Js("Libraries/jquery-1.5.1.min.js")@*
    *@@Js("Libraries/jquery.unobtrusive-ajax.min.js")@*
    *@@Js("Libraries/modernizr-1.7.min.js")@*
    *@@Js("PageReady.js")@*
    *@@Js("AjaxFunctions.js")@*
    Be
  *@</head>@*


  *@<body>@*
    *@<div id="page">@*

      *@<div id="colorStrip">@*
        *@<div class="horizontalCrossSection">@*
          *@<div class="sidebarColumn">@*
            *@@*<div id="logo" >Roomie</div>*@&nbsp;@*
          *@</div>@*

          *@<div id="header" class="mainColumn">@*
            *@<div id="account">@Html.Partial("Partials/Layout/UserBadge")</div>@*
            *@<h1 id="title">@{if (@ViewBag.Title != null)
                               {<text>@ViewBag.Title</text>}
                               else
                               {<text>Roomie</text>}}</h1>@*
          *@</div>@*
        *@</div>@*
      *@</div>@* <-- close #colorStrip


      *@<div id="navigationSlice" class="horizontalCrossSection">@*
        *@<div class="sidebarColumn">@*
          *@&nbsp;@*
        *@</div>@*
        *@<div class="mainColumn">@*
          *@<div class="topNavigation">@Html.Partial("Partials/Layout/Navigation")</div>@*
        *@</div>@*
      *@</div>@*


      *@<div class="horizontalCrossSection">@*
        *@<div id="sidebar" class="sidebarColumn">@*
          *@&nbsp;@*
        *@</div>@*
        *@<div id="content" class="mainColumn">@*
          *@@RenderBody()@*
        *@</div>@*
      *@</div>@*


      *@<div class="horizontalCrossSection">@*
        *@<div class="sidebarColumn">&nbsp;</div>@* just to bump the header columb over
        *@<div id="footer" class="mainColumn"><a href="http://davidmcgrath.com/roomie">Roomie</a> is an <a href="/source">open source</a> project by <a href="http://davidmcgrath.com">David McGrath</a>.</div>@*
      *@</div>@*

    *@</div>@* <-- close #page

  *@</body>@*


*@</html>