@model Roomie.Web.Persistence.Models.SavedScriptModel
@*

*@@helper BuildLinkButton(string text, string action)
{
    @Html.ActionLink(
        linkText: text,
        actionName: action,
        routeValues: new
        {
            id = Model.Id
        },
        htmlAttributes: new
        {
            @class = "button"
        }
    )
}@*

*@@helper BuildFormButton(string text, string action)
{
    using (Html.BeginForm(
        actionName: action,
        controllerName: "Script",
        routeValues: new
        {
            id = Model.Id
        },
        method: FormMethod.Post,
        htmlAttributes: new
        {
            @class = "button"
        }
        
    ))
    {@*
      *@<button class="button">@text</button>@*  
    *@}
}@*

*@@{

var widgetData = new WidgetData
    {
        DebugText = Model.ToString(),
        DivId = Model.DivId,
        Name = Model.Name,
        Type = "script"
    };

}@*
*@@Html.Partial("Partials/WidgetStart", widgetData)@*

  *@<div class="data">@*

    *@<div class="item origin">@*
      *@<div class="key">Modified: </div>@*
      *@<div class="value">@Model.ModificationTimestamp</div>@*
    *@</div>@*

    *@<div class="item creationTimestamp">@*
      *@<div class="key">Created:</div>@*
      *@<div class="value">@Model.Script.CreationTimestamp</div>@*
    *@</div>@*

    *@<div class="item Target">@*
      *@<div class="key">Last Run:</div>@*
      *@<div class="value">@Model.Script.LastRunTimestamp</div>@*
    *@</div>@*

    *@<div class="item creationTimestamp">@*
      *@<div class="key">Run Count:</div>@*
      *@<div class="value">@Model.Script.RunCount</div>@*
    *@</div>@*

  *@</div>@*


  *@<textarea class="code">@Model.Script.Text</textarea>@*

  *@<div class="buttonGroup">@*
    *@@BuildLinkButton("Edit", "edit")@*
    *@@BuildFormButton("Delete", "delete")@*
    *@@BuildFormButton("Run", "run")@*
  *@</div>@*

  *@@Html.Partial("Partials/WidgetEnd", widgetData)@*
*@