@using Roomie.Web.Persistence.Helpers
@model IEnumerable<Roomie.Web.Persistence.Models.DeviceModel>
@{
    ViewBag.Title = "Devices";
}@*

*@@section PageSpecificScripts{@*
    *@<script type="text/javascript">roomie.ui.pages.devices.index.init();</script>@*
*@}@*


*@@{

var headers = new List<Tuple<string, int, string>>();

if (Model == null || !Model.Any())
{
    @Html.Partial("Partials/BotMessage/Empty")
}
else
  {
    var headerPrinter = new LocationHeaderPrinter();
    foreach (var device in Model)
    {
        headerPrinter.SetCurrentLocation(device.Location);
        @headerPrinter.PrintHeader();
        headers.AddRange(headerPrinter.GetHeaders());
        var deviceViewModel = new DeviceViewModel(device, Url);
        
        @Html.Partial(
                partialViewName: "Partials/Device/Device",
                 model: deviceViewModel
        )

    }
    @headerPrinter.PrintDone();
}

  }@*


*@@section PageMenu{@*

  *@@foreach (var header in headers)
    {
        <div class="item"data-location="@header.Item3"><div class="content" style="font-size: @(100-header.Item2*20)%;">@header.Item1</div></div>
    }@*
*@}
