@using Roomie.Web.Persistence.Models
@model Roomie.Web.Persistence.Models.TaskModel
@{
    string status = "";
    if(Model.Received == true)
    {
        status = "received";
    }
    else if (Model.Waiting)
    {
        status = "waiting";
    }
    else if (Model.Expired)
    {
        status = "expired";
    }
    
    var widgetData = new WidgetData
    {
        DebugText = Model.ToString(),
        DivId = Model.DivId,
        Name = "Task",
        Status = status,
        Type = "task"
    };
}
@*
@*

*@@helper ComputerLink(ComputerModel computer)
    {
    if (computer != null)
    {
        @Html.ActionLink(
            actionName: "Details",
            controllerName: "Computer",
            routeValues: new
            {
                id = computer.Id,
                name = (computer.Name != null) ? (computer.Name.Replace(' ', '_')) : (null)
            },
            linkText: computer.Name,
            htmlAttributes: null
        )
    }
    else
    {<text>none</text>}
}@*

*@@Html.Partial("Partials/WidgetStart", widgetData)@*

  *@<div class="data">@*

    *@<div class="item origin">@*
      *@<div class="key">Origin: </div>@*
      *@<div class="value">@Model.Origin</div>@*
    *@</div>@*

    *@<div class="item creationTimestamp">@*
      *@<div class="key">Created:</div>@*
      *@<div class="value">@Model.Script.CreationTimestamp</div>@*
    *@</div>@*

    *@<div class="item Target">@*
      *@<div class="key">Target: </div>@*
      *@<div class="value">@ComputerLink(Model.Target)</div>@*
    *@</div>@*

    *@<div class="item creationTimestamp">@*
      *@<div class="key">Received:</div>@*
      *@<div class="value">@*
        *@@if (Model.Received)
          {<text>@Model.ReceivedTimestamp</text>}
          else if (Model.Waiting)
          {<text>Waiting</text>}
          else if (Model.Expired)
          {<text>Expired</text>}
          else
          {<text>error</text>}@*
     *@</div>@*
    *@</div>@*

  *@</div>@*


  *@<textarea name="script" class="code" readonly="readonly">@Model.Script.Text</textarea>@*

*@@Html.Partial("Partials/WidgetEnd", widgetData)@*

*@
