@using Roomie.Common.HomeAutomation
@using Roomie.Common.HomeAutomation.BinarySensors
@using Roomie.Common.HomeAutomation.MultilevelSensors
@model DeviceViewModel
@{
    var widgetData = Model.WidgetData;
    var device = Model.Device;
}@*


*@@Html.Partial("Partials/WidgetStart", widgetData)@*
      
    *@@if (Model.DisplayButtons)
    {
        if (device.PowerSensor.Value != null)
        {
            <div class="group">Power: @device.PowerSensor.Describe()</div>
        }

        if (device.TemperatureSensor.Value != null && !device.Type.Equals(DeviceType.Thermostat))
        {
            <div class="group">Temperature: @device.TemperatureSensor.Describe()</div>
        }
        
        if (device.HumiditySensor.Value != null)
        {
            <div class="group">Humidity: @device.HumiditySensor.Describe()</div>
        }
        
        if (device.IlluminanceSensor.Value != null)
        {
            <div class="group">Illuminance: @device.IlluminanceSensor.Describe()</div>
        }
          
        if (device.Type.Equals(DeviceType.Thermostat))
        {
            @Html.Partial("Partials/Device/ThermostatControls", Model);
        }
        else if (device.Type.Equals(DeviceType.MultilevelSwitch))
        {
            @Html.Partial("Partials/Device/DimmerButtons", Model)
        }
        else if(device.Type.Equals(DeviceType.BinarySwitch))
        {
            @Html.Partial("Partials/Device/ToggleButtons", Model.Device)
        }
        else if (device.Type.Equals(DeviceType.BinarySensor) || device.BinarySensor.Value != null)
        {
            <div class="group">@device.BinarySensor.Describe()</div>
        }
    }@*

    *@@if (Model.DisplayEditor)
    {
          @Html.Partial("Partials/Device/Editor", Model.Device)
    }@*

*@@Html.Partial("Partials/WidgetEnd", widgetData)@*

*@