@using Roomie.Common.HomeAutomation
@model Roomie.Web.Persistence.Models.DeviceModel
@*


*@
@functions
{
IEnumerable<SelectListItem> types(Roomie.Common.HomeAutomation.DeviceType selected)
{
    var result = new List<SelectListItem>();

    foreach(var type in Roomie.Common.HomeAutomation.DeviceType.Types)
    {
        result.Add(new SelectListItem
        {
            Text = type.ToString(),
            Value = type.ToString(),
            Selected = type.Equals(selected)
        }
        );
    }
    
    return result;
}
}@*


*@@using (Ajax.BeginForm(
    actionName: "Edit",
    controllerName: "Device",
    routeValues: new
    {
        id = Model.Id
    },
    ajaxOptions: new AjaxOptions
    {
        HttpMethod = "Post"
    },
    htmlAttributes: new
    {
        @class = "data"
    }
))
{@*
    *@<div class="item wide">@*
      *@<div class="key">@Html.LabelFor(d => d.Name):</div>@*
      *@<div class="value">@Html.TextBoxFor(d => d.Name)</div>@*
    *@</div>@*
    *@<div class="item wide">@*
      *@<div class="key">@Html.LabelFor(d => d.Location):</div>@*
      *@<div class="value">@Html.TextBoxFor(d => d.Location)</div>@*
    *@</div>@*
    *@<div class="item wide">@*
      *@<div class="key">@Html.LabelFor(d => d.Type):</div>@*
      *@<div class="value">@Html.DropDownListFor(d => d.Type, types(Model.Type))</div>@*
    *@</div>@*
    *@<div class="item wide">@*
      *@<div class="key"></div>@*
      *@<div class="value"><button type="submit">Change</button></div>@*
    *@</div>@*
*@}@*
*@