@using Roomie.Common.HomeAutomation.Thermostats
@using Roomie.Common.HomeAutomation.Thermostats.Cores
@using Roomie.Common.HomeAutomation.Thermostats.SetpointCollections
@using Roomie.Common.HomeAutomation.Thermostats.Fans;
@using Roomie.Common.Measurements.Temperature
@model DeviceViewModel
@*

*@@helper FormatTemeprature(ITemperature temperature){
      if (temperature != null)
      {
          var parts = temperature.ToString().Split(' ');
          var result = parts[0] + "°" + parts[1].Substring(0, 1);@*
          *@<text>@result</text>@*
      *@}
      else
      {<text>--</text>}
  }
@helper SetpointControl(IThermostat thermostat, ThermostatSetpointType type) {
    using (Ajax.BeginRouteForm(
        routeName: "DefaultApi",
        routeValues: new
        {
            id = Model.Device.Id,
            action = "SetThermostatSetpoint",
            type = type.ToString(),
            httproute = true
        },
        ajaxOptions: new AjaxOptions
        {
            HttpMethod = "Post",
        },
        htmlAttributes: new
        {
            @class = "temperature",
            id = string.Empty
        }
        ))
    {
        if (!thermostat.Setpoints.AvailableSetpoints.Contains(type))
        {
            return;
        }
        var temperature = thermostat.Setpoints[type];@*
    *@<button class="button setpoint-button hotter" type="submit" name="temperature" value="@temperature.Add(-1)">-</button>@*   
    *@<div class="value">@*
      *@@FormatTemeprature(temperature)@*
    *@</div>@*
    *@<button class="button setpoint-button colder" type="submit" name="temperature" value="@temperature.Add(1)">+</button>@*   
    *@<div class="description">@type</div>@*
*@}
}
@{
    var device = Model.Device;
    var thermostat = device.Thermostat;
    var temperatureSensor = device.TemperatureSensor;
}@*
//TODO: make this work

*@<div class="thermostat-controls">@*
    
  *@@(SetpointControl(thermostat, ThermostatSetpointType.Heat))@*

  *@<div class="temperature">@*
    *@<div class="value">@*
      *@@FormatTemeprature(temperatureSensor.Value)@*
    *@</div>@*
    *@<div class="description">Current</div>@*
  *@</div>@*
  
  *@@(SetpointControl(thermostat, ThermostatSetpointType.Cool))@*  
*@</div>@*

*@@if(thermostat.Core.CurrentAction != null || thermostat.Core.Mode != null || (thermostat.Core.SupportedModes != null && thermostat.Core.SupportedModes.Any())) {@*
*@<div class="header">@*
  *@<div class="secondary">Currently @thermostat.Core.CurrentAction</div>@*  
  *@System Mode@*
*@</div>@*  

*@using (Ajax.BeginRouteForm(
                    routeName: "DefaultApi",
                    routeValues: new
                    {
                        id = Model.Device.Id,
                        action = "SetThermostatMode",
                        httproute = true
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*
    *@foreach (var mode in thermostat.Core.SupportedModes??new ThermostatMode[]{})
      {@*
          *@<div class="@("button" + ((thermostat.Core.Mode == mode)?" activated":string.Empty))">@*
              *@<button class="button" type="submit" name="mode" value="@mode">@mode</button>@*
          *@</div>@*
      *@}@*    
*@}
  }@*

*@@if(thermostat.Fan.CurrentAction != null || thermostat.Fan.Mode != null || (thermostat.Fan.SupportedModes != null && thermostat.Fan.SupportedModes.Any())) {@*

*@<div class="header">@*
  *@<div class="secondary">Currently @thermostat.Fan.CurrentAction</div>@*  
  *@Fan Mode@*
*@</div>@*  

*@using (Ajax.BeginRouteForm(
                    routeName: "DefaultApi",
                    routeValues: new
                    {
                        id = Model.Device.Id,
                        action = "SetThermostatFanMode",
                        httproute = true
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*
    *@foreach (var mode in thermostat.Fan.SupportedModes??new ThermostatFanMode[]{})
      {@*
          *@<div class="@("button" + ((thermostat.Fan.Mode == mode)?" activated":string.Empty))">@*
              *@<button class="button" type="submit" name="mode" value="@mode">@mode</button>@*
          *@</div>@*
      *@}@*    
*@}
  }@*



*@