@using Roomie.Common.HomeAutomation.Thermostats
@using Roomie.Common.HomeAutomation.Thermostats.SetpointCollections
@using Roomie.Common.HomeAutomation.Thermostats.Fans;
@model DeviceViewModel
@*

*@@helper FormatTemeprature(Roomie.Common.Temperature.ITemperature temperature){
      if (temperature != null)
      {
          var parts = temperature.ToString().Split(' ');
          var result = parts[0] + "°" + parts[1].Substring(0, 1);@*
          *@<text>@result</text>@*
      *@}
      else
      {<text>--</text>}
  }
@{
    var thermostat = Model.Device.Thermostat;
    
    var setpointsDescription = thermostat.Setpoints.Describe();
    if (string.IsNullOrEmpty(setpointsDescription))
    {
        setpointsDescription = "--";
    }

    var fanDescription = thermostat.Fan.Describe();
    if (string.IsNullOrEmpty(fanDescription))
    {
        fanDescription = "--";
    }
    
    var thermostatDescription = thermostat.DescribeJustThermostat();
    if (string.IsNullOrEmpty(thermostatDescription))
    {
        thermostatDescription = "--";
    }

}@*
//TODO: make this work

*@<div class="thermostat-controls">@*
  *@<div class="temperature">@*
    *@@FormatTemeprature(thermostat.Temperature)@*
  *@</div>@*
  *@<div class="stack">@*
    *@<div class="row"><b>Setpoints:</b> @setpointsDescription</div>@*
      *@<div class="row"><b>Fan:</b> @fanDescription</div>@*
      *@<div class="row"><b>Thermostat:</b> @thermostatDescription</div>@*
  *@</div>@*
*@</div>@*

*@@using (Ajax.BeginForm(
                    actionName: "SetThermostatMode",
                    controllerName: "Device",
                    routeValues: new
                    {
                        id = Model.Device.Id
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*
    *@foreach (var mode in thermostat.SupportedModes??new ThermostatMode[]{})
      {@*
          *@<div class="@("button" + ((thermostat.Mode == mode)?" activated":string.Empty))">@*
              *@<button class="button" type="submit" name="mode" value="@mode">@mode</button>@*
          *@</div>@*
      *@}@*    
*@}@*

*@@using (Ajax.BeginForm(
                    actionName: "SetThermostatFanMode",
                    controllerName: "Device",
                    routeValues: new
                    {
                        id = Model.Device.Id
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*
    *@foreach (var mode in thermostat.Fan.SupportedModes??new ThermostatFanMode[]{})
      {@*
          *@<div class="@("button" + ((thermostat.Fan.Mode == mode)?" activated":string.Empty))">@*
              *@<button class="button" type="submit" name="mode" value="@mode">@mode</button>@*
          *@</div>@*
      *@}@*    
*@}@*



*@